@model TimeReportApp.Models.DetailsCustomerVIewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Address
            </td>
        </tr>
    </tbody>
</table>

