@model IEnumerable<TimeReportApp.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Name)
            </td>
            <td>
                <a asp-controller="Customer" asp-action="GetCustomerById" asp-route-id="@customer.Id">Details</a>
                
                <a asp-controller="Customer" asp-action="EditCustomer" asp-route-id="@customer.Id">Edit</a>

                @*@Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
